# Previous lesson plans

## 24/01
### Warm up
From sitting:
- x3 deep breaths
- x5 Pilates breaths
- x2 each side neck rolls
- x2 each side lateral bends

### Main session
#### Lying on back core (10 mins)
- x3 pelvic tilts
- x3 super slow glute bridge
- Core series, repeat x3 - hug knees to chest in between each:
    - x10 toe taps
    - x10 send both knees to the right, pull back to centre, both knees to the left, pull back to centre
    - x10 crunches
    - x10 pulses

#### Side lying left glute (5 mins)
- Calves in line with front of mat, knees in line with hips, left leg on top of right
- x10 lift and lower top leg, keep knee bent
- Lift top leg and straighten knee, bring leg in line with spine
- Point toe, x10 lower and lift
- Flex toe, x10 pulse
- Point toe, x5 circles forward, x5 circles backwards
- Pause and massage glute
- x10 oblique crunch in and extend

#### Plank core & left glute (2 mins)
- Bring right knee in (to work left glute)
- x10 bent knee crunches, drawing nose to knee

#### Standing left glute (2 mins)
- x10 squat with right heel raised (to work left glute)
- Move into wide squat and hold, x10 side bends

#### Plank back & chest (1 min)
- Downward dog
- x3 spine extensions
- x5 push ups
- Childs pose

#### Side lying right glute (5 mins)
- Calves in line with front of mat, knees in line with hips, right leg on top of left
- x10 lift and lower top leg, keep knee bent
- Lift top leg and straighten knee, bring leg in line with spine
- Point toe, x10 lower and lift
- Flex toe, x10 pulse
- Point toe, x5 circles forward, x5 circles backwards
- Pause and massage glute
- x10 oblique crunch in and extend

#### Plank core & right glute (2 mins)
- Bring left knee in (to work right glute)
- x10 bent knee crunches, drawing nose to knee

#### Standing right glute (3 mins)
- x10 squat with left heel raised (to work right glute)
- Move into wide squat and hold
- x10 heel lifts alternate sides
- Sink lower, x10 pulses

#### Sitting core (3 mins)
- Tall spine, legs out in front
- x5 C curve half roll back, pausing at the bottom keeping arms in front
- x5 C curve half roll back, pausing at the bottom bringing fingertips to temples
- x1 C curve half roll back, pausing at the bottom bringing fingertips to temples and x10 pulse
- Rest back on forearms
- x10 single leg toetaps
- x10 double leg toetaps
- Hug knees to chest

#### Lying on back core (2 mins)
- x10 each side crunch and twist
- x10 slow bicycle crunch
- x10 quick bicycle crunch

### Cool down
Lying on back (2 mins)
- Lumbar twist
- Figure of 4 stretch
- Roll up to seated

Sitting (1 min)
- x3 inhale extend arms above, exhale draw arms down


## 28/01
### Warm up
Standing prep (6 mins)
- x3 deep breaths
- x4 Pilates breaths
- x3 shoulder rolls
- x2 each side neck rolls
- x2 each side spine twists
- Forward fold
- x3 repeat: plank > sit back on heels > downward dog > back to plank

### Main session
#### Lying on back glutes & core (5 mins)
- x10 glute bridge walks
- x10 crunches
- x5 each side, hold single leg glute bridge and lift lower opposite leg
- x10 pulses
- x5 each side, single leg glute bridge halfway lift and lower
- x10 crunches with legs in tabletop
- Hug knees to chest
- Lumbar twists
- x10 crunches with both knees in left lumbar twist
- x10 crunches with both knees in right lumbar twist
- x10 toe taps
- x10 single leg stretch
- x10 deadbugs

#### Side lying right glute (5 mins)
- Calves in line with front of mat, knees in line with hips, right leg on top of left
- x10 lift and lower top leg, keep knee bent
- Lift top leg and straighten knee, bring leg in line with spine
- Point toe, x10 lower and lift
- Flex toe, x10 pulse
- Point toe, x5 circles forward, x5 circles backwards
- Pause and massage glute
- x10 oblique crunch in and extend

#### All fours core & glutes (2 mins)
- x10 hover knee taps
- x10 donkey kicks
- x10 circles back and round to elbow
- x10 tricep dips
- x10 fingertips to temples open chest and twist, close elbow to opposite wrist

#### Standing right glute (2 mins)
- x10 static lunge
- x8 pulse
- Lunge hold with x8 chest opener (touching thumbs in front and behind body)
- x8 tap back toes in and out
- Forward fold
- Walk out to plank

#### Plank core (1 min)
- Hold plank

#### Side lying left glute (5 mins)
- Calves in line with front of mat, knees in line with hips, left leg on top of right
- x10 lift and lower top leg, keep knee bent
- Lift top leg and straighten knee, bring leg in line with spine
- Point toe, x10 lower and lift
- Flex toe, x10 pulse
- Point toe, x5 circles forward, x5 circles backwards
- Pause and massage glute
- x10 oblique crunch in and extend

#### All fours core & glutes (3 mins)
- x10 hover knee taps
- x10 donkey kicks
- x10 circles back and round to elbow
- x10 tricep dips
- x10 fingertips to temples open chest and twist, close elbow to opposite wrist

#### Standing left glute (2 mins)
- x10 static lunge
- Lunge hold with x8 chest opener (touching thumbs in front and behind body)
- x10 tap back toes in and out
- Move into wide squat and hold
    - x10 heel lifts alternate sides
    - Sink lower, x10 pulses

#### Sitting core (3 mins)
- x5 C curve half roll back, pausing at the bottom keeping arms in front
- x5 C curve half roll back, pausing at the bottom bringing fingertips to temples
- x1 C curve half roll back, pausing at the bottom bringing fingertips to temples and x10 pulse
- Rest back on forearms
    - x10 single leg toetaps
    - x10 double leg toetaps
- Hug knees to chest

#### Lying on back core (2 mins)
- x10 each side crunch and twist
- x10 slow bicycle crunch
- x10 quick bicycle crunch

### Cool down
Lying on back close (2 mins)
- Frog legs x3 deep breaths
- Lumbar twist
- Figure of 4 stretch
- Roll up to seated

Sitting close (1 min)
- x3 inhale extend arms above, exhale draw arms down
