# Warm up exercises

## Standing

### Block 1
- x3 inhale reach arms up, exhale circle down to sides, grounding through the feet
- x3 practice breathing with belly button to spine on exhale
- x2 each side lateral spinal stretch
- x2 each side lateral neck stretch
- Inhale reach, exhale chin to chest and roll down to forward fold, rock side to side feeling length through lower back
- x2 halfway lift to forward fold

### Block 2
- Walk out into plank
- x3 inhale reach arms up, exhale circle down to sides, grounding through the feet
- x3 practice breathing with belly button to spine on exhale
- x2 each side lateral spinal stretch
- x2 each side lateral neck stretch
- x2 shoulder rolls
- Inhale reach, exhale chin to chest and roll down to forward fold, rock side to side feeling length through lower back
- x2 halfway lift to forward fold
- Walk hands out to downward dog

### Block 3
x3 inhale reach arms up, exhale circle down to sides, grounding through the feet
x3 practice breathing with belly button to spine on exhale
x2 each side lateral spinal stretch
x2 each side lateral neck stretch
x3 hip circles each side
Shift weight forward and back lifting heels and toes
Inhale reach, exhale chin to chest and roll down to forward fold, rock side to side feeling length through lower back
Walk out into plank
Lower knees to table top
x3 cat cows
x3 twist side to side / move freely in table top
x3 sink into shoulders, press away - learning how it feels to stay pressed away vs how to recognise being sinked in

### Block 4
x3 inhale reach arms up, exhale circle down to sides, grounding through the feet
x3 practice breathing with belly button to spine on exhale
x2 each side lateral spinal stretch
x2 each side lateral neck stretch
Shift weight forward and back lifting heels and toes
Inhale reach, exhale chin to chest and roll down to forward fold, rock side to side feeling length through lower back
Walk hands out to downward dog
x3 each side pedal through heels
Hold for 10 seconds

### Block 5
x3 deep breaths
x4 Pilates breaths
x3 shoulder rolls
x2 each side neck rolls
x2 each side spine twists
Forward fold
x3 repeat: plank > sit back on heels > downward dog > back to plank


## Sitting
- From sitting, practice breathing to activate the deep tummy muscles and pelvic floor
    - x4 deep breaths with hands on ribs feeling them expand and draw in and down
    - x4 deep breaths with hands on hips, add focus on bringing belly button to spine on exhale
    - x4 deep breaths switching on pelvic floor on the exhale, not clenching bum
- x3 each side lateral spinal stretch
- Roll slowly down to lying


# Main session exercises

## Glutes

### All fours

#### Block 1
- One leg at a time:
    - x15 straight leg raises
    - Flex foot, bend knee
    - x10 donkey kicks, x10 pulses on last rep, x10 count hold
- Child’s pose

#### Block 2
- One leg at a time:
    - x10 donkey kicks
    - x10 fire hydrants
    - x10 circles back and round to elbow
    - x10 donkey kick pulses
- Child’s pose

#### Block 3
- One leg at a time:
    - x16 straight leg raises
    - x8 circles one way
    - x8 circles the other way
    - x8 tricep push ups, with x8 pulses on the last rep and an 8 count hold
- Child’s pose / downward dog and pedal out

#### Block 4
- One leg at a time:
    - x15 straight leg raises
    - x10 circles one way
    - x10 circles the other way
    - x10 pulses
    - x10 count hold, lift a little, then lower
- Child’s pose / down to belly and upward dog

#### Block 4
- One leg at a time:
    - x8 straight leg raises
    - Flex foot, bend knee
    - x8 donkey kicks
    - x10 bent knee circles switching direction in between
    - x8 pulses
- Child’s pose


### Side lying

#### Block 1
- Knees bent in front of body, hips stacked with left leg on top
    - x15 clams
    - x10 right leg on ground with knee bent and lift left with knee bent then extend to straight with flexed foot, bend and close
    - Hold left leg extended
        - x10 flex and point foot
        - x10 circles with pointed foot, changing direction midway
    - Extend right leg and bend left leg over to the front
        - x10 lift and lower right leg
        - Hold right leg lifted for 10 seconds
- Repeat other side
- x2 mermaid stretch one side
- Knees fall side to side from seated
- x2 mermaid stretch the other side

#### Block 2
- x10 clams each side with x10 pulses on last rep

#### Block 3
- One side at a time:
- x20 straight leg lift and lower
- x8 circles one way
- x8 circles the other way
- x8 pulses up and down

#### Block 4
- Calves lined up with front of mat, hips in line with knees. One side at a time:
- x10 lower & lift (keeping knee bent)
- x10 circles (keeping knee bent)
- x10 extend & draw in (knee facing forwards)
- x10 extend & draw in to top elbow (knee facing upwards)

### Lying on back
#### Block 1
- Glute bridge series
    - x3 super slow with reset to floor each time
    - x20 up and down one inch, focusing on keeping shoulders and head relaxed, using the core and glute muscles
    - x10 pulses
    - Lift an inch higher, x10 second hold
    - Roll back down
    - x10 up and down one inch
    - x10 squeeze thighs in and out
    - x10 second hold
- Roll back down
- Rock and roll spine up to sitting

### Standing

#### Block 1
- One leg at a time - come into low lunge knees over front toes
    - x10 exhale hinge body forwards into long line, inhale reset - think long chest, reaching towards front of mat, keep hips towards front of mat, tilting pelvis
    - x10 exhale hinge body forwards, inhale come into cactus
    - x10 exhale hinge body forwards, inhale bring back toe in, exhale toe out, inhale come into cactus - keep toes light, keep driving through front heel
    - x10 toes in and out only
    - Walk into plank
- Child’s pose

#### Block 2
- Squat series:
    - x16 bodyweight squats, focusing on weight in back of heels
    - x10 up and down one inch
    - x10 double time up and down one inch
    - 30 seconds side walk in squat
    - x10 pulse
    - Sink and hold for 10 seconds with hands forward
- Inhale reach, exhale chin to chest and roll down to forward fold
- Walk out to downward dog, pedal through heels, lift leg and bend knee to open through hip

#### Block 3
- Lunge series - one side at a time:
    - x10 static lunge
    - x8 pulse
    - Lunge hold with x8 chest opener (touching thumbs in front and behind body)
    - x8 tap back toes in and out
- Forward fold
- Walk out to plank

#### Block 4
- x12 squats with left heel raised, x10 pulses on last rep pushing left knee back
- x12 squats with right heel raised, x10 pulses on last rep pushing right knee back
- Inhale reach, exhale chin to chest
- Roll down and walk out

#### Block 5
- Wide squat stance
- x10 side bends
- x10 heel raise one at a time
- Sink lower and x10 pulse

#### Block 6
- Narrow squat stance
- x10 squats left heel raised
- From top, x10 lower and lift left leg (straight out in front of body) > x10 pulse
- Repeat on other side

### Kneeling
#### Block 1
- Place one hand on the floor and extend opposite leg, then one side at a time:
- x10 lift and lower
- x10 pulse
- x10 circles
- x10 oblique crunches
- x10 forward and back (hip opener)
- Mermaid stretch


## Core
### Lying on back

#### Block 1
- x3 practice breathing from neutral spine, pulling belly button to spine on exhale
- Lift legs into table top and switch to imprinted spine
    - x10 alternate legs single leg bent knee tap down, go as low as poss whilst keeping back in contact with ground
    - x10 alternate legs single leg straight leg extend, go as low as poss whilst keeping back in contact with ground
- Hug knees into chest
- Roll onto side
- Lower feet to ground, hands behind head elbows wide
    - Neutral spine, keeping pelvis steady
    - x10 left side sit up with twist opposite wrist to knee, imagining you’re rinsing out spine like wet tea towel
    - x10 right side sit up with twist opposite wrist to knee
- Lift legs back into table top, hands behind head elbows wide
    - Curl shoulders up off ground
    - x10 alternate sides bicycles, focusing on keeping elbows wide
- Lower feet to ground, let knees fall side to side

#### Block 2
- x10 crunches
- x10 pulses
- Feet on ground hundreds
- x3 roll ups, focusing on using the core to lift the body and rolling one vertebra at a time back down
- Bend the knees with feet flat on the floor, then one leg at a time:
    - Lift leg to table top then extend straight, keep other leg bent with foot on floor and spine in neutral
    - x6 slow circles with extended leg one way (do with bent knee if too challenging)
    - x6 slow circles the other way
- Knock knees side to side
- Lift both legs into table top
    - Set posture with belly button drawn into spine on exhale
    - x16 alternate legs single leg bent knee tap down from table top, going as far away with the toe as you can maintain back in contact with floor
    - x10 alternate legs single leg straight leg extend from table top, going as low as you can maintain back in contact with floor
    - x10 deadbugs
- Hug knees into chest
- Single leg stretches with double pulse and exhale at end of movement
    - x12 alternate legs with bent knee
    - x12 alternate legs with straight knee
- Hug knees into chest
- x12 double leg stretches
- Hold in dish at the end for x12 counts
- Hug knees into chest
- Roll onto tummy
- Come into upward dog

#### Block 3
- Lift both legs into table top
    - Set posture with belly button drawn into spine on exhale
    - x16 alternate legs single leg bent knee tap down from table top, going as far away with the toe as you can maintain back in contact with floor
        - Make harder, crunch up as you draw the leg back in
    - x16 double leg toe taps
- Hug knees into chest
- Lift both legs into table top
    - x10 alternate legs oblique curls extending opposite leg away, resetting back on the ground in time - exhale curl and twist, inhale return, rotation coming from upper body hips heavy and steady, knee stays in table top does not creep closer to chest
    - x10 oblique curl one side, drop the toes sweep the arms round and come up into full sit up, curl back down through C curve lift legs into table top hands behind head and switch sides - feet come up before shoulder blades hit mat
    - x10 bicycles
- Hug knees into chest
- Roll onto tummy
- Come into upward dog

#### Block 4
- x3 practice breathing from neutral spine, pulling belly button to spine on exhale
- Lift legs into table top and switch to imprinted spine
    - x16 alternate legs single leg bent knee tap down from table top
    - x10 alternate legs single leg straight leg extend from table top
- Hug knees into chest
- Lift legs into table top
    - Set posture with belly button drawn into spine on exhale
    - x16 alternate legs single leg bent knee tap down from table top, going as far away with the toe as you can maintain back in contact with floor
    - x10 alternate legs single leg straight leg extend from table top, going as low as you can maintain back in contact with floor
- Hug knees into chest
- Lower feet to ground, hands behind head elbows wide
    - Neutral spine, keeping pelvis steady
    - x10 alternate sides sit up with twist opposite wrist to knee, imagining you're rinsing out spine like wet tea towel
- Lift legs back into table top, hands behind head elbows wide
    - Curl shoulders up off ground
    - x10 alternate sides bicycles, focusing on keeping elbows wide
- Lower feet to ground, let knees fall side to side
- Each side:
    - Lift leg to table top then extend straight, keep other leg bent with foot on floor and spine in neutral
    - x6 slow circles with extended leg one way
    - x6 slow circles the other way
- Both knees bent and feet flat on the floor
    - x8 slow crunches, focusing on core lifting you off the mat rather than head neck and shoulders, ribs sliding down to hips
    - x8 pulses
    - x8 alternating sides oblique twists, extend arms at the top of the movement
- Lift legs into table top
    - Set posture with belly button drawn into spine on exhale
    - x16 alternate legs single leg bent knee tap down from table top, going as far away with the toe as you can maintain back in contact with floor
    - x10 alternate legs single leg straight leg extend from table top, going as low as you can maintain back in contact with floor
    - x10 bicycles
- Hug knees into chest
- Single leg stretches with double pulse and exhale at end of movement
    - x12 alternate legs with bent knee
    - x12 alternate legs with straight knee
- Stretch out hamstrings on both sides, x5 flex and point of foot
- Rock and roll spine up to seated

#### Block 5
- Side crunches left x10
- Right leg bent with feet on ground
    - Lift up bring right elbow to left knee
    - Lower and straighten right arm and left leg
    - Lift up bring right arm to left leg
    - Lower and bend right arm and left leg
- x10 bicycles
- Hug knees
- Side crunches right x10
- Left leg bent with feet on ground
    - Lift up bring left elbow to right knee
    - Lower and straighten left arm and right leg
    - Lift up bring left arm to right leg
    - Lower and bend left arm and right leg
- Hug knees
- x2 deep breaths from supine

#### Block 6
- x3 roll-ups
- x2 teasers
- x12 double leg stretch, lengthening arms away on extend and circling round on bend
- x10 crunches
- x10 pulses
- One side at a time:
    - Pull knee into chest
    - x3 bend and extend leg (flex foot down, point foot up)
    - Hold extended, creep hands up to calf
    - Elbows wide, x3 pulses
    - x10 straight leg circles right to left
    - x10 straight leg circles left to right
- Hug knees to chest
- Twist side to side with knees dropping to ground

#### Block 7
- x10 toe taps
- x10 send both knees to the right, pull back to centre, both knees to the left, pull back to centre
- x10 crunches
- x10 pulses

### All fours
- Superman (arms only, add legs, raise, add crunches)
- x10 hover knee taps
- x10 hover knee step out into back and back
- One side at a time:
    - x10 fingertips to temples open chest and twist, close elbow to opposite wrist

### Plank
#### Block 1
- x3 downward dog to planks
- x8 each side plank step in and out with knees hovering
- Left side:
    - x8 left leg in and out from plank
    - Move into modified side plank
    - x8 thread arm under
    - x8 crunches
    - x8 leg lifts
- x8 each side plank shoulder taps with forward reach
- Right side:
    - x8 right leg in and out from plank
    - Move into modified side plank
    - x8 thread arm under
    - x8 crunches
    - x8 leg lifts
- Plank hold
- Child's pose with needle thread
- Downward dog
- Walk hands to feet
- Roll up to standing

#### Block 2
- Come into rotated plank twisted toward the right
    - x15 rock back and forwards
    - x10 half moon, rock back and forwards - shorten space between rib and hip
    - x10 salsa hips, half moon pulses
- Mermaid stretch right foot to left knee
- Repeat on other side

#### Block 3
- Modified plank or full plank
    - Hold for 10 seconds, practice breathing and reset posture
    - x10 alternate arms shoulder taps
    - Hold for 20 seconds

#### Block 4
- High plank hold for 10 seconds
- Rock forwards and back for x8
- x10 alternate sides shoulder taps, focusing on pressing up out of shoulders and keeping hips straight
- Hold for 10 seconds
- 30 seconds slow mountain climbers
- Lower knees and untuck toes:
    - x3 cat cows
    - x3 twists and circles / move freely

#### Block 5
- From plank
- x10 reps:
    - Push back sending hips high and knees hovering off ground
    - Push forward into plank
    - x1 each side shoulder taps
- Hold in high hips knees hovering for 20 seconds
- x3 cat cows
- Move onto back and sway side to side to massage tailbone

#### Block 6
- From plank:
    - x8 shoulder taps with reach forward
    - x8 single leg raises
- Teaser with x5 leg lower and lifts

### Kneeling
#### Block 1
- One side at a time:
    - Half kneel side plank (start in high kneel, send one leg out to the side with toes pointing forward, come down onto opposite arm with wrist under shoulders)
    - x8 thread upper arm under lower oblique
    - x8 straight leg lift and lower with hand on hip
    - x10 hold with straight leg raised and arm out long
- Mermaid stretch
- Downward dog, pedal out the heels
- Walk back to forward fold, scoop all the way to standing

### Sitting
#### Block 1
- Sitting down, tall spine, legs out in front
- x5 C curve half roll back, pausing at the bottom keeping arms in front
- x5 C curve half roll back, pausing at the bottom bringing fingertips to temples
- x1 C curve half roll back, pausing at the bottom bringing fingertips to temples and x10 pulse
- Rest back on forearms
- x10 single leg toetaps
- x10 double leg toetaps


## Back
### Lying on tummy
- Lie forehead onto fingers
- x4 supermans with arms in cactus
- x4 supermans with arms swimming in circles
- Child's pose


## Arms
### Standing
#### Block 1
- Curtsey lunges bringing arms out on the lift and down into sides on the bend
- From wide squat position:
    - x10 squat down and bring arms into cactus, extend up and stretch arms above head
    - Hold in squat with shoulders in cactus
    - x10 small lift and lowers
    - x10 pulses backwards

#### Block 2
- From hip hinge position:
    - x12 tricep push back straight arms, x10 pulses and x5 count hold on last rep
    - x10 thumbs to touch behind back
    - x10 tricep straight arm push back, then reach arms above head and straighten legs
    - x10 tricep bent arm push back, x5 count hold on last rep
- Big shoulder rolls

### Kneeling
- From hip hinge position
    - x12 straight arms push back and forward
    - x10 pulses up and down
    - x8 circles each way, moving knees with movement
    - x10 pulses up and down
    - x4 big shoulder circles with knees moving
- Roll down into forward fold

### Plank
- Tricep push ups


## Chest
### Plank
- Push ups


## Cool down exercises
### Lying on back
#### Block 1
- Hug knees to chest
- Lumbar side twist
- Rock and roll spine up to seated
- x3 deep breaths from seated position, inhale reach and interlace fingers, exhale and grow taller through crown of head

#### Block 2
- Roll onto back and hug knees into chest, figure four stretch
- Downward dog, pedal out the heels
- Walk back to forward fold, scoop all the way to standing
- x3 deep breaths: inhale reach, exhale lengthen through spine

### Standing
#### Block 1
- Roll down into forward fold, sway side to side
- Walk out into downward dog, pedal out through the heels
- Shift weight into plank then slowly lower and curl up into cobra
- Sit back into child's pose
- Roll onto back - lumbar twists, shoulder windmills
- Rock and roll up to seated
- Side twists
- Deep breaths and calm

### All fours
- Each side:
    - Downward dog, lift leg and bend knee to open through hip
    - Step forward to low lunge, back toe untucked
    - Rotate arm behind back
    - Lift hips and heel toe front leg across to opposite hip
    - Drop down into pigeon
- Downward dog, pedal out the heels
- Walk back to forward fold, scoop all the way to standing
- x3 deep breaths: inhale reach, exhale lengthen through spine
