# Task
Generate a Pilates class. The class should last around 45 minutes.

# Constraints
- You can only use exercises listed in the "Exercises" section
- You can only use blocks of exercises listed in the "Exercises" section
- Your class must 'flow', meaning certain muscles groups must be exercised in the right order
The "Flows" section includes examples (not an exhaustive list) of how the class can flow.

# Exercises
{% include 'exercises.jinja' %}

# Flows
{% include 'flows.jinja' %}

# Previous lesson plans
{% for example in example_lesson_plans %}
{% include 'example.jinja' %}
{% endfor %}
