Exercise ID: {{ exercise.id }}
Exercise name: {{ exercise.name }}
Description: {{ exercise.description }}
Difficulty: {{ exercise.difficulty }}
Primary muscle group: {{ exercise.primary_muscle_group }}
Starting position: {{ exercise.starting_position }}
