# Flows
- Standing prep > all fours glutes > lying on back core > side lying glutes > lying on back glutes & core > lying on back close
- Sitting prep > lying on back core & hips > lying on tummy back > all fours glutes & triceps > plank core > standing arms > standing close
- Standing prep > standing left glute > plank left oblique > side lying left glute > standing right glute > plank right oblique > side lying right glute > lying on back core > lying on back close
- Standing prep > standing glutes > all fours glutes > lying on back core > side lying glutes > plank core > all fours close
- Standing prep > all fours glutes > lying on tummy back > side lying glutes > lying on back core & glutes > plank core > all fours close
- Sitting prep > all fours glutes > kneeling arms > side kneeling core & glutes > standing glutes > sitting close
- Standing prep > standing glutes > plank core > all fours right glute > side lying right glute > lying on back glutes & core > all fours left glute > side lying left glute > plank core > standing glutes > standing close
- Standing prep > standing glutes > all fours core > kneeling core & glutes > lying on back core > lying on back close
- Standing prep > lying on back core > all fours left glute > side lying left glute > all fours right glute > side lying right glute > lying on tummy back > plank arms > plank core > lying on back close
- Sitting prep > lying on back core > side lying left glute > plank core & left glute > standing left glute > plank chest > (incomplete flow)
