Sequence: {{ sequence.name }}
Duration: {{ sequence.sets | map(attribute='duration_seconds') | sum }} seconds
Reps: {{ sequence.reps }}
Notes: {{ sequence.notes }}
{%- for set in sequence.sets %}
- {{ exercises[set.exercise_id].name }} ({{ set.reps }} reps)
{%- endfor %}
