# Task
Write a Pilates lesson plan that can be followed by an instructor to deliver a class.

# Requirements
You must follow EVERY requirement exactly as specified.

## Exercises
Only exercises listed in the "Exercise bank" section included below can feature in the lesson plan.

## Duration
The class must last: {{ duration_minutes }} minutes.
- To calculate the duration of the lesson plan, sum the duration of each segment (warm up, main session, cool down)
- To calculate the duration of each exercise segment, sum the duration of all exercise sequences in that segment
- To calculate the duration of each exercise sequence, sum the duration of all exercise sets in that sequence,
  also accounting for the number of reps of the sequence, and brief rests between each set while changing position
- To calculate the duration of each exercise set, multiply:
    - The duration of one rep of that exercise (2-10 seconds, depending on tempo and range of motion)
    - The number of reps
- The example lesson plans below include historic durations for reference

## Difficulty
The class difficulty level must be: {{ target_difficulty }}
- This is just the "average" difficulty of the class
- It does not mean you are restricted to only using {{ target_difficulty }} exercises
- It is however better to use predominantly exercises matching the target difficulty to achieve
  the correct difficulty level
- For example, rather than using 50% BEGINNER and 50% ADVANCED exercises to generate an INTERMEDIATE class, the
  class should feature mainly INTERMEDIATE exercises (e.g. 20% BEGINNER, 60% INTERMEDIATE, 20% ADVANCED). The
  recommended weights are not fixed, you should use your own judgement.

To calculate the difficulty of the class you are generating, use the following scoring system:
- Target difficulty: BEGINNER = 1, INTERMEDIATE = 5, ADVANCED = 10
- Actual difficulty: Calculate the mean difficulty of all exercises in the plan

## Target muscle groups
{%- if target_muscle_groups  %}
The class should mainly target the following muscle groups:
{%- for muscle_group in target_muscle_groups %}
- {{ muscle_group.value }}
{%- endfor %}
It is however okay to include exercises for other muscle groups (particularly if they are complementary).
{%- else  %}
No specific muscle groups should be targeted.
The lesson plan should be balanced and exercise the full body.
{%- endif  %}

## Available equipment
The following equipment is available:
{%- for equipment in available_equipment %}
- {{ equipment }}
{%- else %}
No equipment is available for this plan.
{%- endfor %}

## Lesson plan structure
You should structure your lesson plan into exercise sequences before proceeding to add individual exercise sets. 

The key requirements when structuring the lesson plan are:
- The lesson should be split into a warm up, main session, and cool down (the three "sections" of the lesson plan)
- Within each section, there must be one or more "sequence" of exercises
- Each sequence must consist of one or more "sets" of exercises
- Each exercise set must:
    - Specify the exercise being performed
    - Specify the movement variant for that set
        - This MUST be a valid movement variant for the exercise, according to the exercise bank
    - Specify the equipment variant for that set
        - This MUST be zero or one pieces of equipment
        - This MUST be a valid equipment variant for the exercise, according to the exercise bank
- Each exercise sequence should contain sets of exercises:
    - Focused primarily on one muscle group
    - Using no equipment, or sticking to the same piece of equipment
    - Using the same or geometrically similar starting position
    - Sequences should start with the STANDARD exercise variant
    - PULSE and HOLD variants should only be used to end sequences
- The order of exercise sequences is important:
    - Sequences targeting the same muscles group should be spread throughout the class
    - In general, the exercise sequences should get gradually, slightly harder during the class

### Valid lesson plan structures
Each item in the list below is a valid lesson plan structure.
The lesson plans are denoted as:
- Warm up: sequence -> sequence ... | Main session: sequence -> sequence ... | Cool down: sequence -> sequence ...
Where each sequence is denoted as:
- Starting position - primary muscle group

- Warm up: STANDING | Main session: QUADRUPED - GLUTES -> SUPINE - CORE -> SIDE_LYING - GLUTES -> SUPINE - GLUTES & CORE -> SUPINE - close
- Warm up: SEATED | Main session: SUPINE - CORE & HIP_FLEXORS -> PRONE - BACK_EXTENSORS -> QUADRUPED - GLUTES & SHOULDERS -> PLANK - CORE -> STANDING - SHOULDERS -> STANDING - close
- Warm up: STANDING | Main session: STANDING - left GLUTES -> PLANK - left OBLIQUES -> SIDE_LYING - left GLUTES -> STANDING - right GLUTES -> PLANK - right OBLIQUES -> SIDE_LYING - right GLUTES -> SUPINE - CORE -> SUPINE - close
- Warm up: STANDING | Main session: STANDING - GLUTES -> QUADRUPED - GLUTES -> SUPINE - CORE -> SIDE_LYING - GLUTES -> PLANK - CORE -> QUADRUPED - close
- Warm up: STANDING | Main session: QUADRUPED - GLUTES -> PRONE - BACK_EXTENSORS -> SIDE_LYING - GLUTES -> SUPINE - CORE & GLUTES -> PLANK - CORE -> QUADRUPED - close
- Warm up: SEATED | Main session: QUADRUPED - GLUTES -> KNEELING - SHOULDERS -> SIDE_KNEELING - CORE & GLUTES -> STANDING - GLUTES -> SEATED - close
- Warm up: STANDING | Main session: STANDING - GLUTES -> PLANK - CORE -> QUADRUPED - right GLUTES -> SIDE_LYING - right GLUTES -> SUPINE - GLUTES & CORE -> QUADRUPED - left GLUTES -> SIDE_LYING - left GLUTES -> PLANK - CORE -> STANDING - GLUTES -> STANDING - close
- Warm up: STANDING | Main session: STANDING - GLUTES -> QUADRUPED - CORE -> KNEELING - CORE & GLUTES -> SUPINE - CORE -> SUPINE - close
- Warm up: STANDING | Main session: SUPINE - CORE -> QUADRUPED - left GLUTES -> SIDE_LYING - left GLUTES -> QUADRUPED - right GLUTES -> SIDE_LYING - right GLUTES -> PRONE - BACK_EXTENSORS -> PLANK - SHOULDERS -> PLANK - CORE -> SUPINE - close
- Warm up: SEATED | Main session: SUPINE - CORE -> SIDE_LYING - left GLUTES -> PLANK - CORE & left GLUTES -> STANDING - left GLUTES -> PLANK - SHOULDERS -> (incomplete flow)

# "Gold standard" lesson plans
{% for lesson_plan in example_lesson_plans %}
{% include 'lesson-plan.jinja' %}
{% endfor %}

# Exercise bank
{% for exercise in exercises.values() %}
{% include 'exercise.jinja' %}
{% endfor %}
